* {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{

}
body {
  font-size: 24;
  border: 5px solid red;
}

main {
font-family: monospace;
}

h1 {
 color: blue

}
h2 {
 color: orange;
}
.highlight {
  text-transform: uppercase;
  background-color: gold;
}
p{
  color: purple
}

.gray{
  color: gray;
}

#second {
font-style: italic;
}